section.sec-product.bg0.p-t-100.p-b-50
  .container
    .p-b-32
      h3.ltext-105.cl5.txt-center.respon1
        | Store Overview
    // Tab01
    .tab01
      // Nav tabs
      ul.nav.nav-tabs(role='tablist')
        li.nav-item.p-b-10
          a.nav-link.active(data-toggle='tab', href='#best-seller', role='tab') Best Seller
        li.nav-item.p-b-10
          a.nav-link(data-toggle='tab', href='#featured', role='tab') Featured
        li.nav-item.p-b-10
          a.nav-link(data-toggle='tab', href='#sale', role='tab') Sale
        li.nav-item.p-b-10
          a.nav-link(data-toggle='tab', href='#top-rate', role='tab') Top Rate
      // Tab panes
      .tab-content.p-t-50
        // -
        #best-seller.tab-pane.fade.show.active(role='tabpanel')
          // Slide2
          .wrap-slick2
            .slick2
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-01.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Esprit Ruffle Shirt
                      span.stext-105.cl3
                        | $16.64
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-02.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Herschel supply
                      span.stext-105.cl3
                        | $35.31
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-03.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Only Check Trouser
                      span.stext-105.cl3
                        | $25.50
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-04.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Classic Trench Coat
                      span.stext-105.cl3
                        | $75.00
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-05.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Front Pocket Jumper
                      span.stext-105.cl3
                        | $34.75
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-06.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Vintage Inspired Classic
                      span.stext-105.cl3
                        | $93.20
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-07.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Shirt in Stretch Cotton
                      span.stext-105.cl3
                        | $52.66
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-08.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Pieces Metallic Printed
                      span.stext-105.cl3
                        | $18.96
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
        // -
        #featured.tab-pane.fade(role='tabpanel')
          // Slide2
          .wrap-slick2
            .slick2
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-09.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Converse All Star Hi Plimsolls
                      span.stext-105.cl3
                        | $75.00
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-10.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Femme T-Shirt In Stripe
                      span.stext-105.cl3
                        | $25.85
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-11.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Herschel supply
                      span.stext-105.cl3
                        | $63.16
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-12.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Herschel supply
                      span.stext-105.cl3
                        | $63.15
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-13.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | T-Shirt with Sleeve
                      span.stext-105.cl3
                        | $18.49
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-14.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Pretty Little Thing
                      span.stext-105.cl3
                        | $54.79
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-15.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Mini Silver Mesh Watch
                      span.stext-105.cl3
                        | $86.85
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-16.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Square Neck Back
                      span.stext-105.cl3
                        | $29.64
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
        // -
        #sale.tab-pane.fade(role='tabpanel')
          // Slide2
          .wrap-slick2
            .slick2
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-02.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Herschel supply
                      span.stext-105.cl3
                        | $35.31
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-04.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Classic Trench Coat
                      span.stext-105.cl3
                        | $75.00
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-06.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Vintage Inspired Classic
                      span.stext-105.cl3
                        | $93.20
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-09.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Converse All Star Hi Plimsolls
                      span.stext-105.cl3
                        | $75.00
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-11.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Herschel supply
                      span.stext-105.cl3
                        | $63.16
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-13.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | T-Shirt with Sleeve
                      span.stext-105.cl3
                        | $18.49
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-15.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Mini Silver Mesh Watch
                      span.stext-105.cl3
                        | $86.85
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
        // -
        #top-rate.tab-pane.fade(role='tabpanel')
          // Slide2
          .wrap-slick2
            .slick2
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-03.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Only Check Trouser
                      span.stext-105.cl3
                        | $25.50
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-06.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Vintage Inspired Classic
                      span.stext-105.cl3
                        | $93.20
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-07.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Shirt in Stretch Cotton
                      span.stext-105.cl3
                        | $52.66
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-08.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Pieces Metallic Printed
                      span.stext-105.cl3
                        | $18.96
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-09.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Converse All Star Hi Plimsolls
                      span.stext-105.cl3
                        | $75.00
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-10.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Femme T-Shirt In Stripe
                      span.stext-105.cl3
                        | $25.85
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-11.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Herschel supply
                      span.stext-105.cl3
                        | $63.16
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-12.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Herschel supply
                      span.stext-105.cl3
                        | $63.15
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-13.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | T-Shirt with Sleeve
                      span.stext-105.cl3
                        | $18.49
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
              .item-slick2.p-l-15.p-r-15.p-t-15.p-b-15
                // Block2
                .block2
                  .block2-pic.hov-img0
                    img(src='images/product-16.jpg', alt='IMG-PRODUCT')
                    a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                      | Quick View
                  .block2-txt.flex-w.flex-t.p-t-14
                    .block2-txt-child1.flex-col-l
                      a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href='product-detail.html')
                        | Square Neck Back
                      span.stext-105.cl3
                        | $29.64
                    .block2-txt-child2.flex-r.p-t-3
                      a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                        img.icon-heart1.dis-block.trans-04(src='images/icons/icon-heart-01.png', alt='ICON')
                        img.icon-heart2.dis-block.trans-04.ab-t-l(src='images/icons/icon-heart-02.png', alt='ICON')
